@import 'variables.scss';
@import "~bootstrap/scss/bootstrap";

body {
    background-image: url('../images/white-wall.jpg');
    font-family: $font-text;
    color: $dark;
}

nav {
    min-height: $navbar-height;
}

footer {
    min-height: $navbar-height;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $font-title;
    color: $secondary;
    font-weight: bold;
}

h1 {
    font-size: 4.5rem;
}

hr {
    width: 75%;
}

.dropleft {
    .dropdown-menu {
        border: none;
    }

    .dropdown-toggle::before {
        transform: rotate(270deg);
        color: $primary;
    }
}

.dropdown-item {
    color: $light;
}

.btn .dropdown-toggle {
    border: none;
}

.icon-connexion {
    position: fixed;
    top: 12px;
    right: 20px;
}

.bg-primary-custom {
    background-color: rgb(226, 169, 51, 0.6);
}

.bg-secondary-custom {
    background-color: rgb(109, 53, 53, 0.8);
}

.bg-light-primary-custom {
    background-color: rgb(243, 182, 108, 0.6);
}

.bg-light-secondary-custom {
    background-color: rgb(142, 85, 85, 0.6);
}

a:hover {
    text-decoration: none;
}

.opacity-0 {
    opacity:0!important;
}
.opacity-1 {
    opacity:0.2!important;
}
.opacity-2 {
    opacity:0.4!important;
}
.opacity-3 {
    opacity:0.6!important;
}
.opacity-4 {
    opacity:.8!important;
}
.opacity-5 {
    opacity:1!important;
}

/* Maybe even support hover opacity shifts */
.opacity-0h5 {
    opacity:0!important;
    transition: opacity .25s ease-in-out!important;
    -moz-transition: opacity .25s ease-in-out!important;
    -webkit-transition: opacity .25s ease-in-out!important;
}
.opacity-0h5:hover {
    opacity:1!important;
}

.btn-fancy {
    margin: $spacing-2;
    border: none;
    border-radius: .25rem;
    font-size: 1.125rem;
    padding: 15px 20px;
    cursor: pointer;
    font-family: $font-text;
    color: $primary;
    background-color: $secondary;
    box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.75);
}

.btn-fancy:hover {
    animation: pulsation_button .8s ease-out;
    text-decoration: none;
    text-shadow: 1px 1px rgba(0,0,0,0.75);
}

@keyframes pulsation_button {

    from {
        box-shadow: 0 0 0 -3px hsla(0, 0%, 100%, 0), 0 0 0 0 hsl(60, 25%, 98%);
    }

    to {
        box-shadow: 0 0 0 10px hsla(0, 0%, 100%, 0), 0 0 0 13px hsla(0, 0%, 100%, 0);
    }
}
