@import url('https://fonts.googleapis.com/css2?family=Abel&family=Lato:wght@400;700&display=swap');

$primary: #e2a933;
$secondary: #6d3535;
$light-primary: #F3B66C;
$light-secondary: #8e5555;
$dark: #212121;
$light: #EAE9E6;
$font-title: 'Abel', sans-serif;
$font-text: 'Lato', sans-serif;
$spacing: 8px;
$spacing-2: $spacing * 2;
$spacing-3: $spacing * 4;
$spacing-4: $spacing * 8;
$navbar-height: 80px;
$header-height: 500px;
